/* html, */
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* margin: 5vh; */
  padding: 0;
  color: white;
  background: url("/TrialReservationOnline/images/background_brighter.png");
  font-family: "Trebuchet MS", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
}

/* body {
  margin: 5vh;
  padding: 0;
  color: white;
  background: url("../Content/assets/images/background_brighter.png");
  font-family: 'Trebuchet MS', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
